{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}PKPD Parameter Fitting{% endblock %}</h1>
{% endblock %}

{% block content %}

  {% if not 'data_file' in settings %}
  <div>Upload CSV data</div>
  <form method=post enctype="multipart/form-data">
    <input type=file name=file>
    <input type=submit value=Upload>
  </form>
  {% endif %}

  {% if 'data_file' in settings %}
  <div> Data {{ settings['data_file'] }} uploaded successfully</div>
  {% endif %}

  <br><br>

  {% if not 'model_version' in settings %}
  <div>Choose model</div>
  <form method=post enctype="multipart/form-data">
    <input type="radio" name="options" value=one id=one>1-compartment<br>
    <input type="radio" name="options" value=two id=two>2-compartment
    <input type=submit value="Choose model">
  </form>
  {% endif %}

  {% if 'model_version' in settings %}
  <div> Model {{ settings['model_version'] }} selected successfully</div>
  {% endif %}

  <br><br><br>

  <div> Run analysis</div>
  <form method=post>
    <input type=submit name="go" value="Go">
  </form>



{% endblock %}
